<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="60 seconds">
    <property name="NSQ_SDK_LOG_HOME" value="${log.path}/nsq_sdk_client" />
    <property name="CONSOLE_PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %-5level -- %class [%3line] -- %msg%n"/>
    <property name="MSG_PATTERN" value="%d{ISO8601} -- %msg%n"/>
    <property name="NORMAL_PATTERN" value="%d{ISO8601} -- %-60.60class [%3line] -- %msg%n"/>
    <property name="SERIOUS_PATTERN" value="%d{ISO8601} [%-16.16thread] %-5level -- %-60.60class [%3line] -- %msg%n"/>
    <property name="PURE_PATTERN" value="%msg%n"/>

    <appender name="CONSUME_POLICY" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <file>${NSQ_SDK_LOG_HOME}/nsq_sdk_consume_policy.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${NSQ_SDK_LOG_HOME}/nsq_sdk_consume_policy.%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${CONSOLE_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="com.youzan.nsq.client.ConsumerImplV2.consume.policy" additivity="false">
        <appender-ref ref="CONSUME_POLICY"/>
    </logger>
</configuration>